RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
php_value include_path ".:/usr/share/pear:/usr/share/php:/home/vagrant/dev/simple-mvc-php/src"
